:root {
  color: #222;
  background: #f8f8f8;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-top: 3vh;
}